<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container my-5">
      <h1>Chat</h1>
      <form action="/" method="post">
        <div class="mb-3">
          <label for="mensagem" class="form-label">Escreva a Mensagem:</label></br>
          <input type="text" class="form-control" id="mensagem" name="mensagem">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </br></br></br>
      <% if (mensagem) { %>
        <p><%= mensagem %></p>
      <% } %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
  </body>
</html>